/* 全局重置 */
* {
    box-sizing: border-box;
  }
  
  html, body, #app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* 禁止根节点滚动 */
  }
  
  body {
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;
    background-color: #f0f2f5;
  }